<% self.formats = [:json, :html] %>

<% if logged_in? %>
    <script type="text/javascript">
        window.currentUser = <%= render(
            "api/users/user",
            user: current_user
        ).html_safe %>
    </script>
<% end %>

<main id="root">React is borked</main>