#outer-board-show {
    /* margin: 20px 0; */
}

.board-big-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: 50%;
    background-size: cover;
    background-color: #7e5a9b;
    overflow: hidden;
    z-index: -1;
}

