.boards-container {
    margin: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* position: relative; */
    box-sizing: border-box;
}

.boards-title {
    position: sticky;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 100px;
    margin-right: 30px;
    min-width: 225px;
    font-size: 18px;
    background-color: #e5d6f3;
    border-radius: 4px;
    padding: 7px;
}

.boards-title span {
    margin-right: 10px;
    color: #7E5A9B;
}

.boards-title h2 {
    color: #7E5A9B;
}

.board-index {
    box-sizing: border-box;
    width: 100%;
    max-width: 825px;
}

.boards-outer {
    width: 100%;
}

.boards-header h3 {
    font-size: 16px;
}

.boards-header span {
    margin: 0 10px 0 5px;
}

.boards-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.board-tile {
    width: 23%;
    height: 100px;
    margin-bottom: 20px;
    margin-right: 2%;
    box-sizing: border-box;
    position: relative;
    background-color: #7E5A9B;
    border-radius: 5px;
    padding: 0;
    background-position: 50%;
    background-size: cover;
}

.board-title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 900;
    display: block;
}

.must-grow {
    display: block;
    padding: 8px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.must-grow:hover {
    background-color: rgba(0, 0, 0, .2);
}

#board-form-link {
    background-color: lightgray;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board-form-link:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2);
}