.board-show-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    min-height: 48px;
    padding: 8px;
}

.board-show-bar-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

.board-show-bar button {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    border: none;
    border-radius: 3px;
    height: 32px;
    box-sizing: border-box;
    cursor: pointer;
}

.board-show-bar button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.board-show-bar-left > hr {
    width: 1px;
    height: 20px;
    margin: 0 10px;
    border: 0;
    border-left: 1px solid gray;
    box-sizing: border-box;
}

.board-show-bar-title-wrapper {
    padding: 0;
    border: none;
    border-radius: 3px;
    height: 32px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.board-show-bar-title-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

#bTitle {
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    /* border: none; */
    border: 2px solid rgba(0, 0, 0, 0);
    height: 100%;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    padding: 0 10px;
    min-width: 10px;
    text-overflow: ellipsis;
    box-sizing: border-box;
    cursor: pointer;
}

#bTitle:focus {
    cursor: text;
    border: 2px solid rgb(93, 169, 240);
    /* box-sizing: content-box; */
    background-color: white;
}

#hide {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: pre;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

.btntxt {
    margin: 0 5px;
}

.name-circle {
    border-radius: 50%;
    background-color: lightgray;
    color: rgba(0, 0, 0, 0.8);
    width: 28px;
    height: 28px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.name-circle:hover {
    background-color: rgb(165, 165, 165);
}

#shared-indicator {
    /* background-color: rgba(255, 255, 255, 0.35); */
    /* width: 100%; */
    /* height: 32px; */
}

.members-container {
    margin-right: 10px;
}