.add-a-card {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 2px 8px 8px;
  padding: 4px 8px;
  color: gray;
  border-radius: 3px;
}

.add-a-card span {
  font-size: 20px;
  margin-right: 2px;
}

.add-a-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
  color: rgb(50, 50, 50);
}

.new-card-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-card-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.new-card-title-edit {
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  width: 100%;
  min-height: 60px;
  margin-bottom: 6px;
  text-decoration: none;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 1.5em;
  resize: none;
  box-sizing: border-box;
  overflow: hidden;
}

.add-card-buttons button {
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  text-decoration: none;
  border: 0px;
  font-size: 14px;
  margin: 0;
  transition: all .15s;
}
  
.add-card-button {
  color: white;
  padding: .5em 1em;
  background-color: #6F5187;
}

.add-card-button:hover {
  background-color: #7f6295;
}
  
.stop-adding {
  background: transparent;
}

.stop-adding:hover {
  background-color: rgba(0, 0, 0, 0.1);
}