.outer-card-index {
    overflow-y: auto;
    margin: 0 4px;
    padding: 0 4px;
    box-sizing: border-box;
    min-height: 20px;
    white-space: normal;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 150px);
}

.no-scroll {
    overflow: hidden;
}

.card-index-item {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    display: block;
    cursor: pointer;
    margin-bottom: 8px;
    /* min-height: 20px; */
    text-decoration: none;
    padding: 8px;
}

.card-index-item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5)
}

.card-title {
    overflow: hidden;
    z-index: 5;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 14px;
    padding: 2px;
}