.outer-card-index {
    overflow-y: auto;
    margin: 0 4px 6px;
    padding: 0 4px;
    box-sizing: border-box;
    min-height: 10px;
    white-space: normal;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 194px);
}

.outer-card-index::-webkit-scrollbar {
    width: 5px;
}

.outer-card-index::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 2px;
}

.outer-card-index::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    border-radius: 2px;
}

.outer-card-index.adding {
    max-height: calc(100vh - 156px);
}

.no-vert-scroll {
    overflow: hidden;
}

.card-index-item {
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    display: block;
    cursor: pointer;
    margin-bottom: 8px;
    text-decoration: none;
    padding: 6px 8px;
}

.card-index-item:last-child {
    margin-bottom: 2px;
}

.card-index-item:hover {
    cursor: pointer;
    background-color: rgb(245, 245, 245)
}

.card-index-item:focus {
    outline: none;
}

.card-index-item-inner {
    overflow: hidden;
    z-index: 5;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card-title {
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
}

.card-icons {
    color: rgb(100, 100, 100);
    display: flex;
    align-items: center;
    margin-top: 4px;
    /* max-height: 22px; */
}

.card-icons>div {
    margin-right: 10px;
    padding: 3px 0;
}

.card-icons span {
    font-size: 16px;
}
.description-icon {
    max-height: 22px;
}

.comment-icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.comment-icon span {
    margin-right: 3px;
}

.comment-icon div {
    font-size: 12px;
}

#due-date-icon {
    display: flex;
    align-items: center;
    border-radius: 3px;
}

#due-date-icon span {
    margin-right: 3px
}

#due-date-icon div {
    font-size: 12px;
}

#due-date-icon.overdue, #due-date-icon.due-soon {
    color: white;
    padding: 3px 5px;
    margin-right: 8px;
}