.add-a-card {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 2px 8px 8px;
  padding: 4px 8px;
  color: gray;
  border-radius: 3px;
}

.add-a-card span {
  font-size: 20px;
  margin-right: 2px;
}

.add-a-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .07);
  color: rgb(80, 80, 80);
}