#new-comment {
  background: white;
  padding: 2px 6px;
  border: 2px solid transparent;
}

#new-comment:focus {
  border: 2px solid #0079bf;
}

.comment-item {
  position: relative;
  margin-top: 20px;
}

.basic-comment-info {
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.04em;
}

.comment-author-name {
  font-weight: bold;
  font-size: 14px;
}

.comment-created-at, .comment-edited {
  font-size: 12px;
  color: gray;
  margin-left: 10px;
}

.comment-edited {
  margin-left: 5px;
}

.comment-body {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.5em;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px -1px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.1);
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0 6px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* max-width: 100%; */
}

.comment-links {
  display: flex;
  color: gray;
  font-size: 12px;
  letter-spacing: 0.04em;
}

.comment-links span {
  margin: 0 5px;
}