.image-selector-form-container {
    width: 360px;
    box-sizing: border-box;
    background-color: rgb(233, 233, 233);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 0;
}

.image-selector-header {
    color: rgb(71, 71, 71);
    font-size: 14px;
}

.image-selector-form {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.image-selector-form input {
    font-size: 14px;
    font-weight: 300;
    background-color: #FAFBFC;
    border: 2px solid #DFE1E6;
    box-sizing: border-box;
    border-radius: 3px;
    height: 36px;
    padding: .5em;
    transition: border .25s;
    margin: 10px 0;
}

.image-selector-form input:focus {
    border: 2px solid rgb(93, 169, 240);
}

.image-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.image-button-container div {
    font-weight: 600;
    color: rgb(71, 71, 71);
}

.image-selector-form-container hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgray;
    margin: 0 10px 10px;
    box-sizing: border-box;
}

.images-container {
    width: 100%;
    box-sizing: border-box;
}

.image-list {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.image-tile {
    width: 108px;
    height: 60px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    background-position: 50%;
    background-size: cover;
}

.image-tile:nth-child(3n) {
    margin-right: 0;
}

.image-tile-darkener {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-tile-darkener:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .15);
}

#default-background-tile {
    background-color: #583f6c;
    color: white;
    font-weight: 300;
}