#outer-list-index {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    padding: 0 0 8px 8px;
    height: calc(100vh - 90px);
    transition: 0.1s ease-out;
}

#outer-list-index.tray-active {
    width: calc(100% - 320px);
}

.phantom {
    min-width: 1px;
}

.list-index-item {
    margin-right: 8px;
    width: 275px;
    min-width: 275px;
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, .85);
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    position: relative;
}

.list-header-display {
    padding: 5px 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.list-index-item-title-display {
    background: transparent;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    font-weight: bold;
    padding: 4px 5px;
    width: 220px;
    box-sizing: border-box;
    cursor: grab;
    line-height: 1.2em;
}

.list-index-item-title-edit.edit-active {
    display: none;
}

.list-header-edit {
    padding: 5px 7px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.list-index-item-title-wrapper {
    padding: 0;
    border: none;
    border-radius: 3px;
    min-height: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0;
}

.list-index-item-title-edit {
    background-color: white;
    box-sizing: border-box;
    border: 2px solid rgb(93, 169, 240);
    border-radius: 3px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    font-weight: bold;
    padding: 4px 5px;
    width: 220px;
    box-sizing: border-box;
    cursor: text;
    resize: none;
    overflow: hidden;
    height: inherit;
    min-height: 1em;
    line-height: 1.2em;
}

.no-display {
    display: none;
}

.list-header-display button, .list-header-edit button {
    background: transparent;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    height: 28px;
    max-width: 28px;
    box-sizing: border-box;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

.list-header-display button:hover, .list-header-edit button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}