.login-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(126, 90, 155, .05);
    color: white;
    padding: 16px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    transition: all .7s;
}

.scrolled {
    background-color: rgb(126, 90, 155);
    box-shadow: 0 0 15px rgba(39, 29, 48, 0.6);
}

.login-bar-title {
    display: flex;
    align-items: center;
}

.met-login-icon {
    background: url("whitelogo.png");
    background-size: contain;
    height: 30px;
    width: 30px;
    display: block;
    margin: 0 2px 5px 5px;
}

#login-logo {
    font-family: 'Damion', cursive;
    font-size: 40px;
}

#signup-btn {
    background-color: #FFFFFF;
    color: #7E5A9B;
    border-radius: .2rem;
}

#login-btn {
    color: white;
}


#login-btn:hover {
    text-decoration: underline;
}

.btn {
    padding: .5rem .5rem;
    text-decoration: none;
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 5px;
}