.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 40px;
    padding: 4px;
    background-color: #7E5A9B;
    color: white;
    box-sizing: border-box;
}

.nav-bar.board-show {
    background-color: rgba(0, 0, 0, 0.35);
}

.nav-bar ul {
    display: flex;
    box-sizing: border-box;
}

.nav-bar-left button {
    margin-right: 4px;
}

.nav-bar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav-bar-middle {
    display: flex;
    align-items: center;
    opacity: .5;
}

.met-icon {
    background: url("https://meticulist-seeds.s3-us-west-1.amazonaws.com/SiteAssets/finalwhite.png");
    background-size: contain;
    height: 22px;
    width: 22px;
    display: block;
    z-index: 4;
    margin-right: 2px;
    margin-bottom: 2px;
}

.nav-bar-right button {
    margin-left: 4px;
}

.nav-bar #logo {
    font-size: 30px;
    /* width: 1px; */
    color: white;
}

.nav-bar-middle:hover {
    opacity: .8;
}

.nav-bar button {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    height: 32px;
    box-sizing: border-box;
    cursor: pointer;
}

.nav-bar button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-bar button:active {
    background-color: rgba(255, 255, 255, 0.1);
}

#options {
    border-radius: 50%;
    background-color: lightgray;
    color: rgba(0, 0, 0, 0.8);
    width: 32px;
}

button.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
}

button.image span {
    font-size: 20px;
}

.boards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.boards-icon {
    margin-right: 10px;
    background: url("https://meticulist-seeds.s3-us-west-1.amazonaws.com/SiteAssets/finalwhite.png");
    background-size: contain;
    height: 16px;
    width: 16px;
    display: block;
}

#add {
    font-size: 24px;
}

.dropbtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content {
    position: absolute;
    top: 43px;
    color: black;
    background-color: white;
    box-shadow: 2px 5px 15px 0 rgba(0,0,0,0.15);
    border: 1px solid lightgray;
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 0 10px;
    padding-top: 0;
    display: none;
    z-index: 100;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}

.shown {
    display: block;
}

.right-set {
    right: 3px;
}

.left-set {
    left: 3px;
}

#account-dropdown {
    width: 305px;
}

#boards-dropdown {
    width: 280px;
}

#help-dropdown {
    width: 330px;
}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 14px 0;
}

.close-dd {
    position: absolute;
    right: 6px;
    font-size: 18px;
}

.close-dd:hover {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.dropdown-content hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lightgray;
    margin: .5em 10px;
    box-sizing: border-box;
}

.boards-header {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.07em;
    margin: 20px 0 10px;
}

.boards-header .img {
    font-size: 16px;
    margin: 0 5px;
}

.dropdown-content li {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    padding: 10px 10px
}

.dropdown-content li:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.board-buttons {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.board-buttons button {
    background-color: #7e5a9b;
    margin: 0 5px 5px 5px;
    width: 96%;
    text-align: left;
    height: 40px;
    background-position: 50%;
    background-size: cover;
    padding: 0;
}

.board-buttons button:hover {
    background-color: #7e5a9b;
}

.dimmer {
    width: 100%;
    min-height: 100%;
    border-radius: 4px 4px 0 0;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
}

.dimmer:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.tiny-board {
    min-width: 15px;
}

.titley {
    color: rgb(51, 51, 51);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}

#create-new-board {
    text-decoration: underline;
}

.help-link {
    display: flex;
    align-items: center;
}

.help-logo {
    margin-right: 8px;
    font-size: 16px;
    color: rgb(70, 70, 70);
}